.AboutHero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.AboutHero > h2 {
    font-size: 5rem;
    margin-top: 20vh;
    text-align: center;    
}

.AboutHero > p {
    font-size: 1.7rem;
    padding: 50px;
    margin: 50px;
    margin-top: 50px;
    max-width: 100rem;
    text-align: center;
    border: 2px solid #3acbf7;
}